<section>
    <mat-toolbar>
        <div>
            <button mat-button (click)="onLogout()">Logout</button>
        </div>
    </mat-toolbar>
</section>
<mat-grid-list cols="3" rowHeight="fit" style="height: 80%;">
    <mat-grid-tile colspan="2">
        <!-- <h1><strong><i>{{seminarTitle}}</i></strong></h1> -->
        <section style="text-align: center; padding-top: 30px;">
            <form novalidate [formGroup]="queryForm">
                <mat-form-field>
                    <textarea matInput type="text" placeholder="Post Your Query" formControlName="query"></textarea>
                    <mat-error class="error" *ngIf="hasError('query','required')">
                        Please ask a question
                    </mat-error>
                    <mat-error class="error" *ngIf="hasError('query','maxlength')">
                        length should be less than 100 words
                    </mat-error>
                </mat-form-field><br><br>
                <button mat-raised-button [disabled]="!queryForm.valid" (click)="posted()">Post</button><br>
            </form>
        </section>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <mat-list>
            <mat-list-item *ngFor="let question of questions">
                {{ question }}
                <mat-divider id="box-color"></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-grid-tile>
</mat-grid-list>