<section>
    <div>
        <!-- <form
            [formGroup]="displayForm"
            novalidate
        >
            <mat-form-field>
                <input 
                    matInput
                    type="text"
                    placeholder="Title*"
                    formControlName="title"
                >
            </mat-form-field><br>
            <mat-form-field>
                <textarea 
                    matInput
                    placeholder="Abstract*"
                    formControlName="abstract"
                    rows="2"
                ></textarea>
            </mat-form-field><br>
            <mat-form-field>
                <textarea 
                    matInput
                    placeholder="Content"
                    formControlName="content"
                    rows="2"
                ></textarea>
            </mat-form-field><br>
            <mat-form-field>
                <input
                    matInput
                    [matDatepicker]="myDatePicker"
                    placeholder="Choose a Date*"
                >
                <mat-datepicker-toggle
                    matSuffix
                    [for]="myDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #myDatePicker ></mat-datepicker>
            </mat-form-field>
        </form> -->
        <mat-dialog-content>
            <p style="font-weight: bold; text-align: center;">{{data[0].seminarTitle}}</p>
            <p style="font-weight: bold;">Abstract:</p>
            <p>{{data[0].abstract}}</p>
            <p style="font-weight: bold;">Speaker:</p>
            <p>{{data[0].speaker}}</p>
            <p style="font-weight: bold;">Start Date:</p>
            <p>{{startDate}}</p>
            <p style="font-weight: bold;">End Date:</p>
            <p>{{endDate}}</p>
            <p style="font-weight: bold;">Venue:</p>
            <p>{{data[0].venue}}</p>
        </mat-dialog-content>
        <mat-dialog-actions style="right: inherit;">
            <button mat-button matDialogClose="cancel" color="primary">Close</button>
        </mat-dialog-actions>
    </div>
</section>