<div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <form [formGroup]="registerForm" novalidate>
            <mat-form-field appearance="outline">
                <input matInput type="text" placeholder="Name" formControlName="name">
                <mat-error class="error" *ngIf="hasError('name','required')">
                    Name cannot be empty
                </mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="outline">
                <input matInput type="text" placeholder="User Id" formControlName="u_id">
                <mat-error class="error" *ngIf="hasError('u_id','required')">
                    UserId cannot be empty
                </mat-error>
                <mat-error class="error" *ngIf="hasError('u_id','pattern')">
                    should contain number and alphabet
                </mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="outline">
                <input matInput type="password" placeholder="Password*" formControlName="password">
                <mat-error class="error" *ngIf="hasError('password','required')">
                    Password is required
                </mat-error>
                <mat-error class="error" *ngIf="hasError('password','minlength')">
                    length should be between 6-8
                </mat-error>
                <mat-error class="error" *ngIf="hasError('password','maxlength')">
                    length should be between 6-8
                </mat-error>
            </mat-form-field><br>
            <button mat-raised-button [disabled]="!registerForm.valid" (click)="onsubmit()">SignUp</button>
        </form>
    </div>
</div>