<div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <p>Seminar: {{data.title}}</p>
        <form [formGroup]="registerForm" novalidate>
            <mat-form-field appearance="outline">
                <input matInput type="text" placeholder="Name" formControlName="name">
                <mat-error class="error" *ngIf="hasError('name','required')">
                    Name cannot be empty
                </mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="outline">
                <input matInput type="text" placeholder="Email*" formControlName="emailID">
                <mat-error class="error" *ngIf="hasError('emailID','required')">
                    Email is required
                </mat-error>
                <mat-error class="error" *ngIf="hasError('emailID','pattern')">
                    Enter Proper mail format
                </mat-error>
            </mat-form-field><br>
            <button mat-raised-button [disabled]="!registerForm.valid" (click)="register()">Register</button>
        </form>
    </div>
</div>