<div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <form [formGroup]="coordinatorloginForm" novalidate>
            <mat-form-field appearance="outline">
                <input matInput type="text" placeholder="User ID*" formControlName="u_id">
                <mat-error class="error" *ngIf="hasError('u_id','required')">
                    UserId is required
                </mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="outline">
                <input matInput type="password" placeholder="Password*" formControlName="password">
                <mat-error class="error" *ngIf="hasError('password','required')">
                    password is required
                </mat-error>
            </mat-form-field><br>
            <button mat-raised-button [disabled]="!coordinatorloginForm.valid" (click)="oncoordiclick()">
                Login
            </button>
        </form>
    </div>
</div>